version: "3.8"

services:
  mysql:
    image: mysql:8
    container_name: mysql_maquinas
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: maquinas_db
    ports:
      - "3306:3306"

  app:
    build: .
    container_name: node_maquinas
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - mysql
    environment:
      DB_HOST: mysql
      DB_USER: root
      DB_PASSWORD: 1234
      DB_NAME: maquinas_db